# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual envs
venv*/
env/
.env

# Model files (too large for GitHub)
model/*.h5
model/*.tflite

# Data files (too large)
data/*.csv

# macOS
.DS_Store

# Plots
model/*.png
